<nav class="menu" role="navigation"> <!--This is a semantic HTML change--> <!--This is an A11y change-->
        <ul>
            <li><a [routerLink]="['/']">Homepage</a></li>
            <li><a [routerLink]="['about']" title="About">About</a></li> <!--This is an A11y change-->
            <li><a [routerLink]="['login'] " title="Login">Login</a></li> <!--This is an A11y change-->
            <li><a [routerLink]="['contact'] " title="Contact">Contact</a></li> <!--This is an A11y change-->
        </ul>
    </nav>